@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.myswiper .swiper-pagination-bullet {
   background: #88be47;
}

.myswiper .swiper-button-next {
  color: #88be47;
}

.myswiper .swiper-button-prev {
  color: #88be47;
}
